version: '1.0.0.{build}'

branches:
  only:
    - master

configuration:
  - Release

cache:
  - packages

assembly_info:
  patch: true
  file: AssemblyInfo.cs
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '1.0.0'

before_build:
  - nuget restore

build:
  project: MetricServer.sln

after_build:
  - nuget pack .\src\MetricServer.CLI\MetricServer.CLI.nuspec

artifacts:
  - path: '*.nupkg'